params {
	singleEnd							= false
	reads 	 						    = "$projectDir/tests/data/*_{1,R1,2,R2}.{fq,fq.gz,fastq,fastq.gz}"
	outdir 	  					  	=	"$projectDir/tests/result"
	cpus  							    =	10

	// Schema validation default options
  	validate_params 				=	true
	version 						    =	false
	help  							    =	false
	monochromeLogs  				=	false

  	// email is sent but isnt received... known nf-core error.
	// Issue: https://github.com/nf-core/tools/issues/3080
	email 	 						    = "alem.gusinac@radboudumc.nl"
	email_on_fail 	 				=	null
	plaintext_email         =	false
	hook_url                =	null
}

// Load nf-pipeline-setup
includeConfig './conf/containers.config'

plugins {
  id 'nf-schema@2.0.0'
}

manifest {
    name            = 'dummy'
    author          = """None"""
    homePage        = ''
    description     = """Example"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.10.4'
    version         = '1.0'
}