profiles {
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g) --rm --security-opt=no-new-privileges'
        singularity.enabled     = false
        }
    singularity {
        singularity.enabled     = true
        singularity.ociAutoPull = false
        docker.enabled          = false
        }
}

process {
    withName: "FASTQC" {
        container = {workflow.containerEngine == 'singularity' ? 'file:///mnt/rtc/pipelines/nextflow-container-images/singularity/fastqc.sif' : 'staphb/fastqc:latest'}
        cpus = 8
    }
}


